<ion-view title="Sign In" hide-nav-bar="true" class="signup-background">
    <ion-content padding="true" class="has-header">
     <img src="img/aastha_logo.png" height="70%" width="70%"></img>
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="enter your username..." ng-model="data.username">
                </label>

                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="enter your password..." ng-model="data.password">
                </label>
            </ion-list>
            <div class="button-bar">
            <ion-button class="button icon-left ion-log-in button-calm" ng-click="loginEmail()">Login</ion-button>
            <a href="#/signup" class="button icon-left ion-person-add button-calm">SignUp</a>
            </div>
            
        </form>
       
    </ion-content>
</ion-view>