<ion-view title="Home">
    
<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
    <ion-nav-view name="tab-list"></<ion-nav-view>
  </ion-tab>

  <ion-tab title="NGO" icon-on="ion-ios-body" icon-off="ion-ios-body-outline">
    <ion-nav-view name="tab-ngo"></<ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
    <ion-nav-view name="tab-profile"></<ion-nav-view>
  </ion-tab>
 
</ion-tabs>

</ion-view>